.vert-nav{
    position: fixed;
    left: 0;
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: rgb(3, 45, 82);
    color: white;
}
.vert-nav a{
    padding: 30px 30px;
    font-size: larger;
}
.nav-link{
    text-decoration: none;
    padding: 15px 20px;
}
.nav-link:hover{
    background-color: brown;
    color: white;
}
.nav-link:active{
    background-color: #444;
}
.cb-container-fluid{
    color: black;
    display: flex;
    justify-content: space-between;
}