.frgt-page{
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
}
.frgt-form{
    margin-top: 150px;
}
.frgt-page input{
    padding: 6px;
}
.frgt-btn{
    background-color: yellowgreen;
    padding: 10px 20px;
    border-radius: 20px;
}
.frgt-navig{
    text-decoration: none;
}
