.hm-bgfull{
    display: flex;
    align-items: center;
    background-image: url('hm-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    justify-content: center;
    text-align: center;
}
.hm-bd{
    margin-top: 20px;
    justify-content: center;
}
.hm-text{
    border: transparent;
    background-color: white;
    padding: 50px 30px;
    height: 55vh;
    width: 70vh;
    text-align: center;
}
.hm-hed h1{
    font-size: 3.5rem;
    margin-bottom: 50px;
}
.hm-txtbox p{
    padding: 5px;
}
.hm-txtbox input{
    padding: 18px;
    border: none;
    border-bottom:solid blue;
}
.hm-btn{
    padding: 18px 30px;
    border-radius: 30px;
    background-color: blue;
    color: white;
}