.hm4-bgfull{
    display: flex;
    background-image: url("Page\ Over4.avif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: black;
}
.hm4-bg{  
    margin-top: 250px;
    margin-left: 200px;
}
.hm4-hed h1{
    font-size: 2.5rem;
}
.hm4-btn{
    border-radius: 10px;
    background-color: blue;
    color: white;
}