.lgn-bd{
    background-image: url(pexels-rpnickson-2885320.jpg);
    background-size: cover;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    color: white;
}
.lgn-con{
    backdrop-filter: blur(10px);
    background: transparent;
    height: 60vh;
    width: 60vh;
}
.lgn-header{
    margin-top: 0px;
    font-size: xx-large;
    padding: 40px 20px;
}
.lgn-bt{
    background-color: transparent;
    color: white;
    border-radius: 12px;
    width: 100px;
    height: 30px;
}
.sgnup-lnk{
    font-size: small;
    padding: 8px 8px;
    color: red;
    text-decoration: none;
}
.frgt-passwd{
    color: red;
}