.navbar-home{
    background-color: aliceblue;
    padding: 10px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
.navbar-home .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.navbar-home .navbar-brand{
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 20px;
}
  
.navbar-home a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: color 0.3s ease;
}
  
.navbar-home a:hover{
    color: blue;
}

.logo {
    font-size: 28px;
    font-weight: 800;
    color: #000;
    font-family: 'Poppins', sans-serif;
}
  
.logo-icon {
    background-color: #000;
    color: #fff;
    padding: 4px 8px;
    border-radius: 6px;
    margin-right: 6px;
}
  