.container-fluid{
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
}
.navbar-nav a{
    text-decoration: none;
    font-size: larger;
    padding: 0px 30px 0px 30px ;
    margin-top: 20%;
}
.blogg{
    font-size: x-large;
    font-style: italic;
}
.nav-bt{
    background-color: black;
    color: white;
    font-size: large;
}
