.bg-full{
    display: flex;
    background-image: url("david-becker-mGx5-xt1uec-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.snup-bg{
    border: solid white;
    backdrop-filter: blur(6px);
    padding: 30px 20px;
    height: 75vh;
    width: 60vh;
    text-align: center;
}
.snup-btn{
    background-color: black;
    color: white;
    border-radius: 12px;
    width: 120px;
    height: 35px;
}
.hd{
    color: black;
}
.snp-frm input{
    padding: 12px;
    height: 20px;
    border-radius: 10px;
}
.signup-navig{
    text-decoration: none;
    color: white;
}
