.bd-full{
    background-image: url('./pexels-photo-961402.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.snup-bg{
    text-align: center;
    justify-content: center;
}
.container{
    background-color: blue;
    height: 100vh;
    width: 60vh;
}
.header{
    margin-top: 0px;
    font-size: xx-large;
    padding: 40px 20px;
}
.snup-btn{
    background-color: black;
    color: white;
    border-radius: 12px;
    width: 100px;
    height: 30px;
}
a{
    text-decoration: none;
    color: aqua;
}
